body {
   font-family: Arial, sans-serif;
}

/* Login & Register */

.form-container {
   margin-top: 50px;
}

.form-container .form-heading {
   text-align: center;
   margin-bottom: 30px;
}

.form-container .form-control {
   margin-bottom: 15px;
}

.toggle-link {
   cursor: pointer;
   color: #007bff;
}

.toggle-link:hover {
   text-decoration: underline;
}

/* Landing Page */

.hero {
   padding: 100px 0;
   background: url('../assets/banner.png') no-repeat center center;
   background-size: cover;
   height: 31rem;
}

.card {
   margin-bottom: 30px;
}

footer {
   background-color: #333;
}

footer p {
   margin: 0;
}

.logo {
   width: 13rem;
}